/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

body {
  text-shadow: 0 2px 3px black;
  /* background-position: center; */
  background-size: cover;

  background-image: url(&quot;https://pixabay.com/get/g37248f7c83dd0fad88945f1df839b3a8f8ca277b2736c8dc6a327bbec258fbd2358525277a0fe9855c872e84936a3973c6c0980ccd88031bd6a9cb29ae9197aa_640.jpg&quot;);
}

.check-box {
  width: 2em;
  height: 2em;
}
.quote-area:hover .author {
  cursor: none;
  display: block;
}

.author {
  display: none;
}
